.footer__container {
  max-width: 1085px;
  margin: 163px auto 65px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (min-width: 320px) and (max-width: 500px) {
  .footer__container {
    margin-top: 60px;
    max-width: 310px;
  }
}
