.header__container {
  max-width: 1248px;
  margin: 62px auto 0;
  display: flex;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 500px) {
  .header__container {
    max-width: 280px;
    margin: 30px auto 0;
    min-height: 400px;
  }
}
