.cards {
  margin: 100px 0 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 147px;
}

@media (min-width: 320px) and (max-width: 500px) {
  .cards {
    margin-top: 50px;
    gap: 25px 147px;
  }
}
